/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.mast {
  display: block;
}

.main {
  float: left;
  width: 60vw;
  padding: 10px 20px;
}

.secondary {
  float: right;
  width: 37vw;
  padding: 10px 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main img {
  width: 100vw; max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.content-two, content-three {
  margin-bottom: 20px;
}

.content-two img, .content-three img {
  max-width: 20vw;
  float: right;
  margin: 10px;
}

.content-two p, .content-three p {
  padding: 5px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  color: crimson;
}
