/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}*/

/* End for testing */
/*Standard CSS styles below*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.mast {
  display: block;
}

.main {
  float: left;
  width: 60vw;
  padding: 10px 10px;
}

.main p {
  padding: 10px 10px;
}

h2 {
  color: red;
  margin: 10px;
}

.secondary {
  float: right;
  width: 37vw;
  padding: 10px 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main img {
  width: 100vw; max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.content-two, content-three {
  margin-bottom: 20px;
}

.content-two img, .content-three img {
  max-width: 20vw;
  float: right;
  margin: 10px;
}

.content-two p, .content-three p {
  padding: 5px;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  color: crimson;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    /*background-color: yellow;*/
  }

  .main {
    display: block;
    width: 100vw;
  }

  .secondary {
    /*background-color: red;*/
    display: block;
    width: 100vw;
    margin-top: 30px;
    border-top: solid black 2px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .content-two {
    float: left;
    width: 45vw;
  }

  .content-three {
    float: right;
    width: 45vw;
  }
}

@media screen and (max-width: 767px) {
  body {
    background-color: yellow;
  }

  .main, .secondary {
    display: block;
    width: 100vw;
  }

  .content-two, .content-three {
    /*float: left;*/
    width: 90vw;
    padding: 10px;
    border-top: solid black 2px;
    margin: auto;
  }

  .content-two img, .content-three img {
    min-width: 150px;
  }



}
